################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web-Book_Store/.vs/Web-Book_Store
